/* boostrap tweak */

a:hover, a:focus,
.btn-link:hover, .btn-link:focus {
    text-decoration: none;
}

.nav-list > li > a,
.nav-list .nav-header {
    color: #ccc;
    text-shadow: none;
}

.nav-list > li.active > a,
.nav-list > li.active > a:hover,
.nav-list > li.active > a:focus,
.nav-list > li > a:hover,
.nav-list > li > a:focus {
    background: #5E5E5E;
}

.page-header {
    border-bottom: none;
    color: #1a1a1a;
    font-family: 'SearsTowerRegular';
    padding-bottom: 0;
}

@font-face {
    font-family: 'SearsTowerRegular';
    src: url('../font/Sears_Tower-webfont.eot');
    src: url('../font/Sears_Tower-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/Sears_Tower-webfont.woff') format('woff'),
    url('../font/Sears_Tower-webfont.ttf') format('truetype'),
    url('../font/Sears_Tower-webfont.svg#SearsTowerRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.jumbotron h1 {
  font-family: 'SearsTowerRegular';
}