@font-face {
    font-family: 'SearsTowerRegular';
    src: url('../font/Sears_Tower-webfont.eot');
    src: url('../font/Sears_Tower-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/Sears_Tower-webfont.woff') format('woff'),
    url('../font/Sears_Tower-webfont.ttf') format('truetype'),
    url('../font/Sears_Tower-webfont.svg#SearsTowerRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* boostrap tweak */

a:hover, a:focus,
.btn-link:hover, .btn-link:focus {
    text-decoration: none;
}

.nav-tabs {
    margin-bottom: 0;
}

.nav-tabs > li > a,
.nav-list > li > a,
.nav-list .nav-header {
    border: none;
    color: #ccc;
    text-shadow: none;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
    border: none;
}

.nav-list > li.active > a,
.nav-list > li.active > a:hover,
.nav-list > li.active > a:focus,
.nav-list > li > a:hover,
.nav-list > li > a:focus {
    background: #5E5E5E;
}

.page-header {
    border-bottom: none;
    color: #ccc;
    font-family: 'SearsTowerRegular';
    padding-bottom: 0;
}

/* custom */
html,body {
    background-color: #424242;
}

.nowrap {
    white-space: nowrap;
}

.toggable, .foldable {
    cursor: pointer;
}

.scrollable {
    overflow-x: hidden;
    overflow-y: auto;
}

.logo {
    color: #ccc;
    font-family: 'SearsTowerRegular', sans-serif;
    font-size: 30px;
    line-height: 32px;
}

.logo a {
    color: #ccc;
}
.logo a:hover,
.logo a:focus {
    text-decoration: none;
}

.icon {
    color: #000;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    vertical-align: text-top;
    width: 14px;
}

.loading {
    background: url('../img/loading.gif') no-repeat center center;
    min-height: 16px;
}

.source-name,
.tag-name {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.source-name {
    width: 81%;
}

.tag-name {
    width: 70%;
}

.tag-toggle {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 10%;
}

.source-unread,
.tag-unread {
    background: #212121;
    border-radius: 7px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 15%;
}

.editable {
    cursor: text;
}
.editable:hover {
    background: #848484;
}
.editable-textarea {
    display: inline-block;
}
.editable-textarea:focus {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: 1px solid gray;
    color: #000;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    min-height: 120px;
    overflow: auto;
    padding: 2px;
    resize: both;
    white-space:pre;
}
.editable-input:focus {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    background-color: white;
    background-color: -moz-field;
    border: 1px solid darkgray;
    box-shadow: 1px 1px 1px 0 lightgray inset;
    color: #000;
    font: -moz-field;
    font: -webkit-small-control;
    margin-top: 5px;
    height: 25px;
    padding: 2px 3px;
    resize: horizontal;
    white-space: nowrap;
}

#search {
    margin: 0 10px 0 0;
}

#search .input-append {
    margin: 0;
}

/* absolute layout */
#notification {
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    z-index: 50;
}

#header {
    padding-top: 10px;
    padding-right: 5px;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 300px;
}

#footer {
    position: absolute;
    bottom: 0;
    left: 300px;
    right: 20px;
}

#sidebar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0px;
    width: 300px;
}

#sidebar-logo {
    position: absolute;
    top: 10px;
    left: 20px;
}

#sidebar-sources {
    overflow: hidden;
    overflow-y: auto;
    position: absolute;
    top: 50px;
    bottom: 25px;
    left: 10px;
    right: 25px;
}

#content {
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 25px;
    left: 300px;
}

@media (min-width: 768px) and (max-width: 979px) {
    #sidebar {
        width: 200px;
    }

    #header,
    #footer,
    #content{
        left: 200px;
    }
}

@media (max-width: 767px) {
    #header,
    #footer,
    #content {
        left: 5px;
    }

    #footer {
      bottom: 3px;
    }

    #content {
        right: 5px;
    }
}

@media (max-width: 387px) {
    .hidden-small-screen {
        display: none;
    }
}

.tag-sources {
    display: none;
}

.tag-unfolded .tag-sources {
    display: block;
}

/* entry layout */

.entry {
    background: #FFF;
    border: 1px solid #CCC;
    border-left: 5px solid #6498FE;
    position: relative;
    overflow: hidden;
}

.entry-read {
    border-left: 1px solid #CCC !important;
}

.entry-header {
    font-size: 13px;
    line-height: 28px;
}

.entry-read .entry-header {
    background-color: #EEE;
}

.entry-source {
    font-size: 11px;
    overflow: hidden;
    padding-left: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.entry-title {
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.entry-read .entry-title {
    font-weight: normal;
}

.entry-date {
    overflow: hidden;
    text-align: right;
    white-space: nowrap;
}

.entry-link {
    overflow: hidden;
    padding-right: 10px;
    text-align: right;
    white-space: nowrap;
}

.entry-details {
    display: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

.entry-controls {
    background-color: #f7f7f7;
    border-top: 1px solid #CCC;
    display: none;
    padding: 5px 10px;
}

.entry-unfolded {
    border-radius: 0 0 6px 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    margin-bottom: 10px;
}
.entry-unfolded .entry-header {
    display: none;
}
.entry-unfolded .entry-details,
.entry-unfolded .entry-controls {
    display: block;
}

@media (max-width: 767px) {
    .entry-source {
        padding: 0 10px;
    }

    .entry-title {
        padding: 0 10px;
        white-space: normal;
    }
}

/* box layout */
.box {
    background-color: #fff;
    border: 1px solid #CCC;
    padding: 10px 20px;
}
.box.has-errors {
    border-color: red;
}
.box.muted.has-errors {
    border-color: #CCC;
}
.box.muted .btn-group {
    margin-top: -2px;
}
.box-title {
    font-size: 18px;
    line-height: 27px;
}
.box-title small {
    display: block;
}
.box-info {
    display: inline-block;
}
.box.muted small {
    display: none;
}

.badge-iconic {
    margin-right: 5px;
    text-align: center;
    width: 35px;
}

form.well {
    background-color: #fff;
}

form.well .form-actions {
    margin-bottom: 0;
}
