<!DOCTYPE html>
{% block htmlheader %}
<html lang="en">
{% endblock %}
<head>
    <meta charset="utf-8">
    <title>{% block title %}FeedBox{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Selfhosted rss reader">
    <meta name="author" content="Danilo Kühn">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    {% block stylesheets %}
    {{ stylesheets|raw }}
    {% endblock %}
    <link rel="shortcut icon" href="img/feedbox.ico" type="image/x-icon" />
</head>
<body>
{% block content %}
{{ content|raw }}
{% endblock %}

{% block javascript %}
{{ javascript|raw }}
{% endblock %}
</body>
</html>
