<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>FeedBox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="img/box64.ico" type="image/x-icon" />
</head>
<body>

<div class="container-fluid">
    <div class="row-fluid">
        <section id="sidebar" class="span2">
            <div class="nav-sidebar">
                <div class="logo"><a href="#"><img src="img/box128.png" width="128" alt="FeedBox"> Feed Box</a></div>
                <ul class="nav nav-list">
                    <li><a class="menu-item" href="#unread"><i class="icon-inbox"></i> Unread</a></li>
                    <li><a class="menu-item" href="#read"><i class="icon-inbox"></i> Read</a></li>
                    <li><a class="menu-item" href="#starred"><i class="icon-star"></i> Starred</a></li>
                </ul>
                <header class="nav-header">
                    <div class="btn-group pull-right">
                        <a class="btn btn-mini" href="#sources/add" title="Hinzufügen"><i class="icon-plus"></i></a>
                        <a class="btn btn-mini" href="#sources/update" title="Aktualisieren"><i class="icon-refresh"></i></a>
                        <a class="btn btn-mini" href="#sources" title="Verwalten"><i class="icon-wrench"></i></a>
                    </div>
                    <span class="toggable" data-target="#sources">Sources</span>
                </header>
                <div id="sources" class="hide scrollable"></div>
            </div>
            <div class="clearfix"></div>
        </section>
        <section class="span10">
            <div id="content"></div>
        </section>
    </div>
</div>

<script type="text/template" id="tpl-application-notification">
    <div class="alert<%- type %>"><button type="button" class="close" data-dismiss="alert">×</button><%- message %></div>
</script>

<script type="text/template" id="tpl-sidebar-source-item">
    <a href="#sources/<%- model.id %>"><span class="source-name"><%- model.get('name') %></span><span class="source-unread"><%- model.get('unread') %></span></a>
</script>

<script type="text/template" id="tpl-item-source">
    <%- model.get('name') %>
</script>

<script type="text/template" id="tpl-item">
    <header class="entry-header foldable row-fluid">
        <div class="entry-source span2" title="<%- model.get('source').get('name') %>"><i class="icon-star-empty"></i> <%- model.get('source').get('name') %></div>
        <div class="entry-title span7"><%= model.get('title') %></div>
        <div class="entry-date span2"><%- model.timeHumanize() %></div>
        <div class="entry-link span1"><button class="btn btn-mini btn-link open-entry-link"><i class="icon-external-link"></i></button></div>
    </header>
    <div class="entry-details foldable">
        <h4><%= model.get('title') %></h4>
        <%= model.get('content') %>
    </div>
    <footer class="entry-controls">
        <div class="pull-right">
            <span><i class="icon-rss"></i> <%- model.get('source').get('name') %></span>
            <span><i class="icon-time"></i> <%- model.timeHumanize() %></span>
        </div>
        <div>
            <% if (model.get('read')) { %>
            <a class="read" href="#"><i class="icon-eye-open"></i> als ungelesen markieren</a>
            <% } else { %>
            <a class="read" href="#"><i class="icon-eye-close"></i> als gelesen markieren</a>
            <% } %>
            <button class="btn btn-link open-entry-link"><i class="icon-share-alt"></i> öffnen</button>
        </div>
    </footer>
</script>

<script type="text/template" id="tpl-source">
    <div class="btn-group pull-right">
        <a class="btn" href="#sources/<%- model.id %>/update"><i class="icon-refresh"></i></a>
        <a class="btn" href="#sources/<%- model.id %>/edit"><i class="icon-pencil"></i></a>
        <a class="btn" href="#sources/<%- model.id %>/delete"><i class="icon-trash"></i></a>
    </div>
    <div class="box-title"><%- model.get('name') %><% if (model.hasErrors()) { %> <small><%- model.get('errors') %></small><% } %></div>
    <small>
        <span class="box-info"><i class="icon-inbox"></i> <%- model.get('unread') %></span>
        <span class="box-info"><i class="icon-refresh"></i> <%- model.get('period') %></span>
        <span class="box-info"><i class="icon-time"></i> <%- model.get('last_update') %></span>
    </small>
</script>

<script type="text/template" id="tpl-source-form">
    <form class="form-horizontal">
        <fieldset>
            <legend>Quelle bearbeiten</legend>
            <div class="control-group">
                <label class="control-label" for="source-active">Aktiv</label>
                <div class="controls">
                    <input type="checkbox" id="source-active" name="active" class="input-block-level" checked>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="source-name">Name</label>
                <div class="controls">
                    <input type="text" id="source-name" name="name" class="input-block-level" required="required">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="source-uri">URL</label>
                <div class="controls">
                    <input type="url" id="source-uri" name="uri" class="input-block-level" required="required">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="source-tags">Tags</label>
                <div class="controls">
                    <input type="text" id="source-tags" name="tags" class="input-block-level">
                </div>
            </div>
            <div class="form-actions">
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary save">Speichern</button>
                    <button class="btn cancel">Abbrechen</button>
                </div>
            </div>
        </fieldset>
    </form>
</script>

<!-- Javascript -->
<script src="js/vendor/jquery.min.js"></script>
<script src="js/vendor/underscore.min.js"></script>
<script src="js/vendor/backbone.min.js"></script>
<script src="js/vendor/moment.min.js"></script>
<script src="js/vendor/bootstrap.min.js"></script>
<script src="js/app.js"></script>
<script src="js/module/helper.js"></script>
<script src="js/module/item.js"></script>
<script src="js/module/source.js"></script>
<script src="js/module/sidebar.js"></script>
<script src="js/module/routes.js"></script>
<script src="js/init.js"></script>

</body>
</html>
