{% extends "base.html.twig" %}

{% block htmlheader %}
<html lang="en" manifest="cache.manifest">
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        var BASE_URL = 'api.php';
    </script>
    <script src="js/vendor/Math.uuid.js"></script>
    <script src="js/vendor/jquery.min.js"></script>
    <script src="js/vendor/underscore.min.js"></script>
    <script src="js/vendor/backbone.min.js"></script>
    <script src="js/vendor/moment.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>

    <script src="js/src/nerve.js"></script>

    <script src="js/feedbox.js"></script>
    <script src="js/module/helper.js"></script>
    <script src="js/module/user.js"></script>
    <script src="js/module/setting.js"></script>
    <script src="js/module/source.js"></script>
    <script src="js/module/tag.js"></script>
    <script src="js/module/item.js"></script>
    <script src="js/module/main.js"></script>
    <script src="js/init.js"></script>
{% endblock %}

{% block content %}
    <div id="notification"></div>
    <div id="application"></div>

    <script type="text/template" id="tpl-application">
        <header id="header">
            <div class="btn-group pull-right">
                <a class="btn" href="#sources/add" title="Add"><i class="icon-plus"></i></a>
                <button class="btn mark-as-read" title="Mark all as read"><i class="icon-ok-circle"></i></button>
                <button class="btn logout" title="Logout"><i class="icon-off"></i></button>
            </div>
            <form id="search" class="hidden-phone pull-right">
                <input type="text" id="search-input" class="span2" placeholder="Search...">
            </form>
            <ul class="nav nav-tabs">
                <li><a class="menu-item menu-item-unread" href="#unread">
                        <span class="hidden-phone"><i class="icon-inbox"></i> Unread</span><span
                                class="visible-phone"><img
                                    src="img/feedbox16.png" alt="FeedBox"><span
                                    class="hidden-small-screen"> FeedBox</span></span></a>
                </li>
                <li><a class="menu-item menu-item-read" href="#read"><i class="icon-circle-blank"></i><span
                                class="hidden-phone"> Read</span></a></li>
                <li><a class="menu-item menu-item-starred" href="#starred"><i class="icon-star"></i><span
                                class="hidden-phone"> Starred</span></a></li>
                <li><a class="menu-item menu-item-settings" href="#settings"><i class="icon-wrench"></i><span
                                class="hidden-phone"> Settings</span></a></li>
            </ul>
        </header>
        <footer id="footer"></footer>
        <section id="sidebar" class="hidden-phone">
            <div id="sidebar-logo" class="logo">
                <a href="#"><img src="img/feedbox32.png"> FeedBox</a>
            </div>
            <nav id="sidebar-sources"></nav>
        </section>
        <section id="content"></section>
    </script>

    <script type="text/template" id="tpl-login">
        <div class="container">
            <div class="text-center logo">
                <img src="img/feedbox128.png" alt="FeedBox"/> FeedBox
            </div>
            <div class="row">
                <div class="span4 offset4">
                    <form id="login-form" class="form-sigin well">
                        <div>
                            <label for="username" class="add-on"><i class="icon-user"></i> Username</label>
                            <input id="username" name="username" required class="input-block-level" type="text" value="" placeholder="Username">
                        </div>
                        <div>
                            <label for="password" class="add-on"><i class="icon-lock"></i> Password</label>
                            <input id="password" name="password" required class="input-block-level" type="password" value="" placeholder="Password">
                        </div>
                        <div class="text-center">
                            <input class="btn btn-large btn-block" type="submit" id="submit" name="submit" value="Login"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="tpl-application-notification">
        <div class="alert<%- type %>">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <%- message %>
        </div>
    </script>

    <script type="text/template" id="tpl-sidebar-tag-item">
        <a class="menu-item menu-item-tag-<%- model.id %>" href="#tag/<%- model.id %>">

            <span class="toggable tag-toggle" data-toggle="#tag-sources-<%- model.id %>">
            <% if (model.get('folded')) { %>
                <i class="icon-chevron-down"></i>
            <% } else { %>
                <i class="icon-chevron-up"></i>
            <% } %>
            </span>
            <span class="tag-name"><%- model.get('name') %></span>
            <span class="tag-unread hidden-tablet" style="background: <%- model.get('color') %>"><%- model.get('unread') %></span>
        </a>

    </script>

    <script type="text/template" id="tpl-sidebar-source-item">
        <a class="menu-item menu-item-source-<%- model.id %>" href="#sources/<%- model.id %>">
            <span class="source-name"><%- model.get('name') %></span>
            <span class="source-unread hidden-tablet" style="background: <%- model.get('color') %>"><%- model.get('unread') %></span>
        </a>
    </script>

    <script type="text/template" id="tpl-footer">
        <div class="text-right">
          <i id="footer-loading" class="icon loading" style="display: none"></i>  <span class="badge"><i class="icon-rss"></i> <%- length %> / <%- total %></span>
            <a id="load-more" class="badge" title="load next items"><i class="icon-play"></i></a>
        </div>
    </script>

    <script type="text/template" id="tpl-empty">
        <div class="alert alert-warning">Dude, there is nothing in this list.</div>
    </script>

    <script type="text/template" id="tpl-item">
        <header class="entry-header foldable">
            <div class="visible-phone">
                <div class="btn-group pull-right" style="margin-top: 12px; margin-right: 12px;">
                    <% if (model.get('starred') == 1) { %>
                    <button class="btn starred"><i class="icon-star"></i></button>
                    <% } else { %>
                    <button class="btn starred"><i class="icon-star-empty"></i></button>
                    <% } %>
                    <a class="btn open-entry-link" href="<%= model.get('uri') %>" target="_blank"><i class="icon-external-link"></i></a>
                </div>
                <div class="entry-source">
                    <%- model.timeHumanize() %> &dash; <%- model.get('source').get('name') %>
                </div>
                <div class="entry-title"><%= model.get('title') %></div>
            </div>
            <div class="hidden-phone row-fluid">
                <div class="entry-source span2" title="<%- model.get('source').get('name') %>"><%- model.get('source').get('name') %></div>
                <div class="entry-title span7">
                    <%= model.get('title') %>
                </div>
                <div class="entry-date span2"><%- model.timeHumanize() %></div>
                <div class="entry-link span1">

                    <div class="btn-group">
                    <% if (model.get('starred') == 1) { %>
                    <button class="btn btn-mini starred active"><i class="icon-star"></i></button>
                    <% } else { %>
                    <button class="btn btn-mini starred"><i class="icon-star-empty"></i></button>
                    <% } %>
                    <a class="btn btn-mini open-entry-link" href="<%= model.get('uri') %>" target="_blank"><i class="icon-external-link"></i></a>
                    </div>
                </div>
            </div>
        </header>
        <div class="entry-details">
            <h4 class="foldable">
                <%= model.get('title') %>
                <span class="label"><i class="icon-rss"></i> <%- model.get('source').get('name') %></span>
                <span class="label"><i class="icon-time"></i> <%- model.timeHumanize() %></span>
            </h4>

            <div class="entry-content"><%= model.get('content') %></div>
        </div>
        <footer class="entry-controls" style="text-align: right;">
            <div class="btn-group">
                <% if (model.get('read')) { %>
                <button class="btn read active" title="mark as unread"><i class="icon-ok-circle"></i></button>
                <% } else { %>
                <button class="btn read" title="mark as read"><i class="icon-circle-blank"></i></button>
                <% } %>
                <% if (model.get('starred') == 1) { %>
                <button class="btn starred active"><i class="icon-star"></i></button>
                <% } else { %>
                <button class="btn starred"><i class="icon-star-empty"></i></button>
                <% } %>
                <a class="btn open-entry-link" href="<%= model.get('uri') %>" target="_blank"><i class="icon-external-link"></i></a>
                <button class="btn foldable"><i class="icon-chevron-up"></i></button>
            </div>
        </footer>
    </script>

    <script type="text/template" id="tpl-source">
        <div class="btn-group pull-right">
            <button class="btn activate"><i class="icon-off"></i></button>
            <a class="btn" href="#sources/<%- model.id %>/edit"><i class="icon-pencil"></i></a>
            <button class="btn update"><i class="icon-refresh"></i></button>
            <button class="btn delete"><i class="icon-trash"></i></button>
        </div>
        <div class="box-title"><%- model.get('name') %><% if (model.hasErrors()) { %>
            <small><%- model.get('errors') %></small>
            <% } %>
        </div>
        <small>
            <span class="box-info label"><i class="icon-inbox"></i> <%- model.get('unread') %></span>
            <span class="box-info label"><i class="icon-refresh"></i> <%- model.get('period') %></span>
            <% if (model.get('tag')) { %>
            <span class="box-info label"><i class="icon-tag"></i> <%- model.get('tag').get('name') %></span>
            <% } %>
            <span class="box-info label"><i class="icon-time"></i> <%- model.get('last_update') %></span>
        </small>
    </script>

    <script type="text/template" id="tpl-source-form-option">
        <option value="<%- value %>"><%- name %></option>
    </script>

    <script type="text/template" id="tpl-source-form">
        <form class="form-horizontal well">
            <fieldset>
                <legend>Edit source</legend>
                <div class="control-group">
                    <label class="control-label" for="source-active">Active?</label>

                    <div class="controls">
                        <input type="checkbox" id="source-active" name="active" class="input-block-level" checked
                               value="1">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="source-name">Name</label>

                    <div class="controls">
                        <input type="text" id="source-name" name="name" class="input-block-level" required="required">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="source-uri">URL</label>

                    <div class="controls">
                        <input type="url" id="source-uri" name="uri" class="input-block-level" required="required">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="source-tag">Tag</label>

                    <div class="controls">
                        <input type="text" id="source-tag" name="tag_name" class="input-block-level" autocomplete="off">
                        <input type="hidden" id="source-tagid" name="tag_id">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="source-period">Period</label>

                    <div class="controls">
                        <select id="source-period" name="period" class="input-block-level">
                            <option value="everytime">everytime</option>
                            <option value="hourly">hourly</option>
                            <option value="daily">daily</option>
                            <option value="weekly">weekly</option>
                            <option value="yearly">yearly</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="source-lastUpdate">Last update</label>

                    <div class="controls">
                        <input type="datetime" id="source-lastUpdate" name="last_update" class="input-block-level" placeholder="YYYY-MM-DD HH:mm:ss">
                    </div>
                </div>
                <div class="form-actions">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary save">Save</button>
                        <button class="btn cancel">Cancel</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </script>

    <script type="text/template" id="tpl-setting-tag">
        <td class="editable editable-input" data-editor-model-key="name" contenteditable="true"><%- model.get('name') %></td>
        <td class="editable editable-input" data-editor-model-key="color" contenteditable="true"><%- model.get('color') %></td>
        <td>
            <button class="btn update"><i class="icon-refresh"></i></button>
            <button class="btn delete"><i class="icon-trash"></i></button>
        </td>
    </script>

    <script type="text/template" id="tpl-settings">
        <ul class="nav nav-pills well well-small">
            <li class="active"><a href="#settings/view">View</a></li>
            <li><a href="#settings/sources">Sources</a></li>
            <li><a href="#settings/tags">Tags</a></li>
            <!--<li><a href="#settings/user">User</a></li>-->
        </ul>

        <div class="tab-content">
            <div class="tab-pane well active" id="tab-setting-view">
                <div class="controls controls-row">
                    <label class="span2" for="view-unread-sortby">Load on scrolling</label>
                    <input type="checkbox" class="span2 update" id="view-autofetch" name="view.autofetch">
                </div>
                <div class="controls controls-row">
                    <label class="span2" for="view-unread-sortby">Unread</label>
                    <input type="text" class="span2 update" id="view-unread-count" name="view.unread.count" value="50">
                    <select class="span2 update" id="view-unread-sortby" name="view.unread.sortby">
                        <option value="newest">Newest</option>
                        <option value="oldest">Oldest</option>
                    </select>
                </div>
                <div class="controls controls-row">
                    <label class="span2" for="view-read-sortby">Read</label>
                    <input type="text" class="span2 update" id="view-read-count" name="view.read.count" value="50">
                    <select class="span2 update" id="view-read-sortby" name="view.read.sortby">
                        <option value="newest">Newest</option>
                        <option value="oldest">Oldest</option>
                    </select>
                </div>
                <div class="controls controls-row">
                    <label class="span2" for="view-starred-sortby">Starred</label>
                    <input type="text" class="span2 update" id="view-starred-count" name="view.starred.count" value="50">
                    <select class="span2 update" id="view-starred-sortby" name="view.starred.sortby">
                        <option value="newest">Newest</option>
                        <option value="oldest">Oldest</option>
                    </select>
                </div>
                <div class="controls controls-row">
                    <label class="span2" for="format-date">Format (<a href="http://momentjs.com/docs/#/displaying/format/" target="_blank">Help</a>)</label>
                    <input type="text" class="span2 update" id="format-datetime" name="format.datetime" placeholder="YYYY-MM-DD HH:mm" value="YYYY-MM-DD HH:mm" title="Datetime">
                    <input type="text" class="span2 update" id="format-date" name="format.date" placeholder="YYYY-MM-DD" value="YYYY-MM-DD" title="Date">
                    <input type="text" class="span2 update" id="format-time" name="format.time" placeholder="HH:mm" value="HH:mm" title="Time">
                </div>
            </div>
            <div class="tab-pane well" id="tab-setting-tags">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Color</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody id="setting-tags">

                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="tab-setting-sources"></div>
            <div class="tab-pane well" id="tab-setting-user">
                <div class="controls controls-row">
                    <label class="span2" for="user-password-new">Password</label>
                    <input type="password" class="span2" id="user-password-new" name="user.password.new" value="" placeholder="New">
                    <input type="password" class="span2" id="user-password-retype" name="user.password.retype" value="" placeholder="Retype">
                    <button id="user-password">Change</button>
                </div>
            </div>
        </div>
    </script>
{% endblock %}
