{% extends "base.html.twig" %}

{% block content %}
<div class="container">
    <div class="text-center">
        <img src="img/box128-1.png" alt="FeedBox"/>
    </div>
    <div class="row">
        <div class="span4 offset4">
            <form action="/login_check" method="post" class="form-sigin well">
                <div>
                    <label for="username" class="add-on"><i class="icon-user"></i> Username</label>
                    <input id="username" name="username" required class="input-block-level" type="text" value="" placeholder="Username">
                </div>
                <div>
                    <label for="password" class="add-on"><i class="icon-lock"></i> Password</label>
                    <input id="password" name="password" required class="input-block-level" type="password" value="" placeholder="Password">
                </div>
                <div class="text-center">
                    <input class="btn btn-large btn-block" type="submit" id="submit" name="submit" value="Login"/>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
